<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name = "All Test Suite">
    <test name = "Characters Test">
        <classes>
            <class name = "testcases.GETCharactersTestCase">
                <methods>
                    <include name = "getCharactersWithSuccess">
                </methods>
            </class>
        </classes>
    </test>
</suite>